In [313]:
import pandas as pd
df=pd.read_csv("Resources/mls77007_csv.csv",header=1)

In [314]:
df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,57762389,Rental,Active,4223 1/2,Marina,NaN,Houston,77007,Harris,$895.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,$1076.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,$1360.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,$1360.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,$1360.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [315]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 256 entries, MLS Number to Unnamed: 255
dtypes: float64(218), int64(4), object(34)
memory usage: 2.0+ MB

In [316]:
df.dropna(axis=1, how="all", inplace=True)
df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,List Office MLSID,List Office Name,List Agent MLSID,List Agent Full Name,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Last Change Timestamp,List Date
0,57762389,Rental,Active,4223 1/2,Marina,NaN,Houston,77007,Harris,$895.00,...,CREG01,Champions Real Estate Group,XIULING,Shirley Ling Lu,NaN,NaN,NaN,NaN,09/14/2019 11:44:37 PM,09/14/2019 12:00:00 AM
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,$1076.00,...,FRIS01,ULR Properties,mbmims,Marvin Mims,NaN,NaN,NaN,NaN,09/11/2019 7:11:34 PM,07/16/2019 12:00:00 AM
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,$1360.00,...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:19:03 PM,09/06/2019 12:00:00 AM
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,$1360.00,...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:12:28 PM,09/06/2019 12:00:00 AM
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,$1360.00,...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:00:52 PM,09/06/2019 12:00:00 AM

In [317]:
df.columns

Index(['MLS Number', 'Property Type', 'Status', 'Street Number', 'Street Name',
       'Unit Number', 'City/Location', 'Zip Code', 'County', 'List Price',
       'Close Price', 'Close Date', 'Area', 'Subdivision', 'Market Area',
       'School District', 'School Elementary', 'School Middle', 'School High',
       'Sq Ft Total', 'Price Sq Ft List', 'Price Sq Ft Sold', 'Lot Size',
       'Acres', 'Price Acre List', 'Price Acre Sales', 'Year Built',
       'Bedrooms', 'Baths Full', 'Baths Half', 'Baths Total', 'Room Count',
       'Fireplaces Number', 'Stories', 'New Construction',
       'New Construction Desc', 'Pool Private', 'No Of Garage Cap', 'Style',
       'DOM', 'CDOM', 'List Office MLSID', 'List Office Name',
       'List Agent MLSID', 'List Agent Full Name', 'Selling Office MLSID',
       'Selling Office Name', 'Selling Agent MLSID', 'Selling Agent Full Name',
       'Last Change Timestamp', 'List Date '],
      dtype='object')

In [318]:
df["List Price"]=df["List Price"].str.replace("$","").astype(float)

In [319]:
df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,List Office MLSID,List Office Name,List Agent MLSID,List Agent Full Name,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Last Change Timestamp,List Date
0,57762389,Rental,Active,4223 1/2,Marina,NaN,Houston,77007,Harris,895.0,...,CREG01,Champions Real Estate Group,XIULING,Shirley Ling Lu,NaN,NaN,NaN,NaN,09/14/2019 11:44:37 PM,09/14/2019 12:00:00 AM
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,1076.0,...,FRIS01,ULR Properties,mbmims,Marvin Mims,NaN,NaN,NaN,NaN,09/11/2019 7:11:34 PM,07/16/2019 12:00:00 AM
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,1360.0,...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:19:03 PM,09/06/2019 12:00:00 AM
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,1360.0,...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:12:28 PM,09/06/2019 12:00:00 AM
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,1360.0,...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:00:52 PM,09/06/2019 12:00:00 AM

In [320]:
#Sq Ft Total, Year Built, Bedrooms

In [321]:
#filter on rental proerties
rental_df = df[df["Property Type"]=="Rental"]
none_rental_df = df[df["Property Type"]!="Rental"]

In [322]:
cols= ["Sq Ft Total", "Year Built", "Bedrooms", "Subdivision","List Price"]
none_rental_df= none_rental_df[cols].copy()

In [ ]:
#DATA~~~~~NONE rental properties

In [323]:
none_rental_df.head()

     Sq Ft Total  Year Built  Bedrooms    Subdivision  List Price
173          NaN         NaN       NaN  Rice Military    130000.0
174          NaN         NaN       NaN       Magnolia    140000.0
175          NaN         NaN       NaN   Magnolia Add    140000.0
176          NaN         NaN       NaN     Baker Nsbb    141000.0
177          NaN         NaN       NaN   Harmon Place    180000.0

In [324]:
#new_df.info()
none_rental_df.dropna(inplace=True)

In [325]:
none_rental_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 524 entries, 178 to 999
Data columns (total 5 columns):
Sq Ft Total    524 non-null float64
Year Built     524 non-null float64
Bedrooms       524 non-null float64
Subdivision    524 non-null object
List Price     524 non-null float64
dtypes: float64(4), object(1)
memory usage: 24.6+ KB

In [326]:
none_rental_df["Year Built"].astype(int)

178    1930
180    2016
182    2016
183    2016
186    1935
187    1950
188    2000
189    1920
190    2004
191    1930
192    2005
193    2004
194    2007
195    2016
197    2008
198    2006
199    2004
200    2006
201    2004
203    2010
204    2007
205    1935
206    2004
207    1932
208    2010
209    2019
210    2019
211    2004
212    2008
213    2006
       ...
970    2011
971    2019
972    2019
973    2011
974    2011
975    2019
976    2007
977    2003
978    2019
979    2006
980    1930
981    2014
982    2004
983    2002
984    2004
985    2012
986    2019
987    2017
988    2019
989    2013
990    2014
991    2019
992    2010
993    2015
994    2018
995    2014
996    1920
997    1920
998    1925
999    2016
Name: Year Built, Length: 524, dtype: int32

In [327]:
none_rental_df["Year Built"] = none_rental_df["Year Built"].astype(int)

In [328]:
none_rental_df.head()

     Sq Ft Total  Year Built  Bedrooms           Subdivision  List Price
178        720.0        1930       2.0                Shearn    185000.0
180        721.0        2016       1.0       Houston Heights    199000.0
182        717.0        2016       1.0       Houston Heights    210000.0
183        721.0        2016       1.0       Houston Heights    210000.0
186        448.0        1935       1.0  Cottage Grove Sec 01    230000.0

In [329]:
#pd.cut(new_df["Sq Ft Total"], bins=10)
none_rental_df["sqftbins"]=pd.cut(none_rental_df["Sq Ft Total"], bins=10)

In [330]:
none_rental_df["yearbuilt_bins"]=pd.cut(none_rental_df["Year Built"], bins=10)

In [331]:
none_rental_df.head()

,Sq Ft Total,Year Built,Bedrooms,Subdivision,List Price,sqftbins,yearbuilt_bins
178,720.0,1930,2.0,Shearn,185000.0,"(441.631, 1084.9]","(1929.0, 1942.0]"
180,721.0,2016,1.0,Houston Heights,199000.0,"(441.631, 1084.9]","(2007.0, 2020.0]"
182,717.0,2016,1.0,Houston Heights,210000.0,"(441.631, 1084.9]","(2007.0, 2020.0]"
183,721.0,2016,1.0,Houston Heights,210000.0,"(441.631, 1084.9]","(2007.0, 2020.0]"
186,448.0,1935,1.0,Cottage Grove Sec 01,230000.0,"(441.631, 1084.9]","(1929.0, 1942.0]"

In [332]:
none_rental_df.groupby(["Subdivision","sqftbins","yearbuilt_bins"]).mean().dropna()

                                                                      Sq Ft Total  \
Subdivision                       sqftbins          yearbuilt_bins
1/Gibson Street Villas            (3632.5, 4269.4]  (2007.0, 2020.0]  3786.000000
5509 Blossom                      (2358.7, 2995.6]  (1994.0, 2007.0]  2495.000000
Affinium Homes/Lillian            (2358.7, 2995.6]  (1994.0, 2007.0]  2665.000000
Allan Walter                      (2358.7, 2995.6]  (2007.0, 2020.0]  2695.000000
Allegro/Bayou                     (1721.8, 2358.7]  (2007.0, 2020.0]  2140.000000
Alys Park                         (2358.7, 2995.6]  (2007.0, 2020.0]  2981.000000
Arlington Court                   (4269.4, 4906.3]  (1994.0, 2007.0]  4904.000000
Baker N S                         (2995.6, 3632.5]  (1916.0, 1929.0]  3000.000000
Baker NSBB                        (1084.9, 1721.8]  (1929.0, 1942.0]  1415.000000
                                  (1721.8, 2358.7]  (1929.0, 1942.0]  1808.000000
Baker Nsbb                        (441.631, 1084.9] (1929.0, 1942.0]   843.000000
                                  (1084.9, 1721.8]  (1916.0, 1929.0]  1405.500000
                                  (2358.7, 2995.6]  (1994.0, 2007.0]  2517.000000
Baker W R Nsbb                    (1084.9, 1721.8]  (1903.0, 1916.0]  1327.000000
                                  (2358.7, 2995.6]  (1916.0, 1929.0]  2648.000000
Bayou Bend Towers                 (1721.8, 2358.7]  (1968.0, 1981.0]  1953.000000
                                  (2358.7, 2995.6]  (1968.0, 1981.0]  2867.000000
Bayou Bend Towers Condo 10        (2358.7, 2995.6]  (1968.0, 1981.0]  2987.000000
Beachton Villas                   (2358.7, 2995.6]  (2007.0, 2020.0]  2790.000000
Bercon/Feagan Street              (2358.7, 2995.6]  (1994.0, 2007.0]  2398.000000
Bercons Tyne Street Residence     (1721.8, 2358.7]  (2007.0, 2020.0]  2148.000000
Bingham Court                     (2358.7, 2995.6]  (2007.0, 2020.0]  2490.000000
Birdsall Condo                    (1084.9, 1721.8]  (1994.0, 2007.0]  1426.000000
Blossom Park Villas               (2358.7, 2995.6]  (1994.0, 2007.0]  2714.000000
Bonner Street Plaza               (1084.9, 1721.8]  (1994.0, 2007.0]  1296.000000
Bostonian                         (1084.9, 1721.8]  (2007.0, 2020.0]  1574.000000
Brilliant Summer                  (1721.8, 2358.7]  (2007.0, 2020.0]  2300.000000
Brunner                           (1084.9, 1721.8]  (1903.0, 1916.0]  1300.000000
                                  (2358.7, 2995.6]  (1994.0, 2007.0]  2412.000000
Brunner Prcl R/P                  (2358.7, 2995.6]  (1994.0, 2007.0]  2670.000000
...                                                                           ...
Villas/Patterson St               (2358.7, 2995.6]  (2007.0, 2020.0]  2415.000000
Villas/Shepherd                   (1721.8, 2358.7]  (2007.0, 2020.0]  2327.000000
Vistas De Sevilla Amd Pla         (1721.8, 2358.7]  (2007.0, 2020.0]  2252.000000
Vistas De Sevilla Amend           (1721.8, 2358.7]  (2007.0, 2020.0]  2317.000000
Wagner Street Terrace             (2358.7, 2995.6]  (2007.0, 2020.0]  2791.000000
Waldron Dev                       (1721.8, 2358.7]  (1994.0, 2007.0]  2218.000000
Wanita Triangle Sub               (2995.6, 3632.5]  (1994.0, 2007.0]  3483.000000
Washington Ave                    (1721.8, 2358.7]  (2007.0, 2020.0]  2079.000000
                                  (2358.7, 2995.6]  (2007.0, 2020.0]  2863.000000
Washington Brownstone             (2358.7, 2995.6]  (1994.0, 2007.0]  2553.000000
Washington Corridor/Rice Military (1721.8, 2358.7]  (2007.0, 2020.0]  2075.000000
Washington Court                  (2358.7, 2995.6]  (2007.0, 2020.0]  2688.000000
Washington Heights North          (1721.8, 2358.7]  (2007.0, 2020.0]  2240.000000
Washington Place Lofts Condo      (1084.9, 1721.8]  (1994.0, 2007.0]  1700.000000
Water Hill Homes/Hts              (1721.8, 2358.7]  (2007.0, 2020.0]  1918.000000
Waterford On Woodcrest R P &      (1721.8, 2358.7]  (1994.0, 2007.0]  2235.000000
Waterhill Homes On Dickson        (2358.7, 2995.6]  (2007.0, 2020.0]  2679.000000
Waterhill Homes/Dickson           (1721.8, 2358.7]  (1994.0, 2007.0]  1963.500000
                                  (2358.7, 2995.6]  (2007.0, 2020.0]  2571.000000
Waterhill Homes/Hts               (1721.8, 2358.7]  (2007.0, 2020.0]  1979.000000
Waterhill Homes/Lillian Sec 03    (1721.8, 2358.7]  (1994.0, 2007.0]  2288.000000
Waugh Drive T/H                   (1721.8, 2358.7]  (1994.0, 2007.0]  2070.000000
Weber Modern Living               (1721.8, 2358.7]  (2007.0, 2020.0]  2044.166667
Weber Place Amending Plat 1       (1721.8, 2358.7]  (2007.0, 2020.0]  2300.000000
West End                          (2358.7, 2995.6]  (2007.0, 2020.0]  2532.000000
West End Villas                   (1721.8, 2358.7]  (2007.0, 2020.0]  2222.000000
Westcott Place Gardens            (2995.6, 3632.5]  (1994.0, 2007.0]  3092.000000
Westcott T/H                      (1721.8, 2358.7]  (1981.0, 1994.0]  2310.000000
Woodcrest Court                   (2358.7, 2995.6]  (1994.0, 2007.0]  2718.000000
Zenith Villas                     (1721.8, 2358.7]  (2007.0, 2020.0]  2170.000000

                                                                      Year Built  \
Subdivision                       sqftbins          yearbuilt_bins
1/Gibson Street Villas            (3632.5, 4269.4]  (2007.0, 2020.0]      2012.0
5509 Blossom                      (2358.7, 2995.6]  (1994.0, 2007.0]      2003.0
Affinium Homes/Lillian            (2358.7, 2995.6]  (1994.0, 2007.0]      2007.0
Allan Walter                      (2358.7, 2995.6]  (2007.0, 2020.0]      2013.0
Allegro/Bayou                     (1721.8, 2358.7]  (2007.0, 2020.0]      2012.0
Alys Park                         (2358.7, 2995.6]  (2007.0, 2020.0]      2019.5
Arlington Court                   (4269.4, 4906.3]  (1994.0, 2007.0]      1999.0
Baker N S                         (2995.6, 3632.5]  (1916.0, 1929.0]      1920.0
Baker NSBB                        (1084.9, 1721.8]  (1929.0, 1942.0]      1930.0
                                  (1721.8, 2358.7]  (1929.0, 1942.0]      1930.0
Baker Nsbb                        (441.631, 1084.9] (1929.0, 1942.0]      1931.0
                                  (1084.9, 1721.8]  (1916.0, 1929.0]      1919.0
                                  (2358.7, 2995.6]  (1994.0, 2007.0]      2006.0
Baker W R Nsbb                    (1084.9, 1721.8]  (1903.0, 1916.0]      1905.0
                                  (2358.7, 2995.6]  (1916.0, 1929.0]      1928.0
Bayou Bend Towers                 (1721.8, 2358.7]  (1968.0, 1981.0]      1981.0
                                  (2358.7, 2995.6]  (1968.0, 1981.0]      1981.0
Bayou Bend Towers Condo 10        (2358.7, 2995.6]  (1968.0, 1981.0]      1981.0
Beachton Villas                   (2358.7, 2995.6]  (2007.0, 2020.0]      2013.0
Bercon/Feagan Street              (2358.7, 2995.6]  (1994.0, 2007.0]      2007.0
Bercons Tyne Street Residence     (1721.8, 2358.7]  (2007.0, 2020.0]      2009.0
Bingham Court                     (2358.7, 2995.6]  (2007.0, 2020.0]      2016.0
Birdsall Condo                    (1084.9, 1721.8]  (1994.0, 2007.0]      2007.0
Blossom Park Villas               (2358.7, 2995.6]  (1994.0, 2007.0]      2004.0
Bonner Street Plaza               (1084.9, 1721.8]  (1994.0, 2007.0]      2005.0
Bostonian                         (1084.9, 1721.8]  (2007.0, 2020.0]      2008.0
Brilliant Summer                  (1721.8, 2358.7]  (2007.0, 2020.0]      2019.0
Brunner                           (1084.9, 1721.8]  (1903.0, 1916.0]      1913.0
                                  (2358.7, 2995.6]  (1994.0, 2007.0]      1998.0
Brunner Prcl R/P                  (2358.7, 2995.6]  (1994.0, 2007.0]      2000.0
...                                                                          ...
Villas/Patterson St               (2358.7, 2995.6]  (2007.0, 2020.0]      2011.0
Villas/Shepherd                   (1721.8, 2358.7]  (2007.0, 2020.0]      2008.0
Vistas De Sevilla Amd Pla         (1721.8, 2358.7]  (2007.0, 2020.0]      2014.0
Vistas De Sevilla Amend           (1721.8, 2358.7]  (2007.0, 2020.0]      2014.0
Wagner Street Terrace             (2358.7, 2995.6]  (2007.0, 2020.0]      2015.0
Waldron Dev                       (1721.8, 2358.7]  (1994.0, 2007.0]      2007.0
Wanita Triangle Sub               (2995.6, 3632.5]  (1994.0, 2007.0]      2003.0
Washington Ave                    (1721.8, 2358.7]  (2007.0, 2020.0]      2019.0
                                  (2358.7, 2995.6]  (2007.0, 2020.0]      2019.0
Washington Brownstone             (2358.7, 2995.6]  (1994.0, 2007.0]      2006.0
Washington Corridor/Rice Military (1721.8, 2358.7]  (2007.0, 2020.0]      2017.0
Washington Court                  (2358.7, 2995.6]  (2007.0, 2020.0]      2011.0
Washington Heights North          (1721.8, 2358.7]  (2007.0, 2020.0]      2008.0
Washington Place Lofts Condo      (1084.9, 1721.8]  (1994.0, 2007.0]      2001.0
Water Hill Homes/Hts              (1721.8, 2358.7]  (2007.0, 2020.0]      2011.0
Waterford On Woodcrest R P &      (1721.8, 2358.7]  (1994.0, 2007.0]      2002.0
Waterhill Homes On Dickson        (2358.7, 2995.6]  (2007.0, 2020.0]      2010.0
Waterhill Homes/Dickson           (1721.8, 2358.7]  (1994.0, 2007.0]      2006.0
                                  (2358.7, 2995.6]  (2007.0, 2020.0]      2015.0
Waterhill Homes/Hts               (1721.8, 2358.7]  (2007.0, 2020.0]      2011.0
Waterhill Homes/Lillian Sec 03    (1721.8, 2358.7]  (1994.0, 2007.0]      2005.0
Waugh Drive T/H                   (1721.8, 2358.7]  (1994.0, 2007.0]      2001.0
Weber Modern Living               (1721.8, 2358.7]  (2007.0, 2020.0]      2019.0
Weber Place Amending Plat 1       (1721.8, 2358.7]  (2007.0, 2020.0]      2019.0
West End                          (2358.7, 2995.6]  (2007.0, 2020.0]      2019.0
West End Villas                   (1721.8, 2358.7]  (2007.0, 2020.0]      2014.0
Westcott Place Gardens            (2995.6, 3632.5]  (1994.0, 2007.0]      2006.0
Westcott T/H                      (1721.8, 2358.7]  (1981.0, 1994.0]      1982.0
Woodcrest Court                   (2358.7, 2995.6]  (1994.0, 2007.0]      2005.0
Zenith Villas                     (1721.8, 2358.7]  (2007.0, 2020.0]      2010.0

                                                                      Bedrooms  \
Subdivision                       sqftbins          yearbuilt_bins
1/Gibson Street Villas            (3632.5, 4269.4]  (2007.0, 2020.0]       4.0
5509 Blossom                      (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Affinium Homes/Lillian            (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Allan Walter                      (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Allegro/Bayou                     (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Alys Park                         (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Arlington Court                   (4269.4, 4906.3]  (1994.0, 2007.0]       3.0
Baker N S                         (2995.6, 3632.5]  (1916.0, 1929.0]       4.0
Baker NSBB                        (1084.9, 1721.8]  (1929.0, 1942.0]       2.0
                                  (1721.8, 2358.7]  (1929.0, 1942.0]       2.0
Baker Nsbb                        (441.631, 1084.9] (1929.0, 1942.0]       2.5
                                  (1084.9, 1721.8]  (1916.0, 1929.0]       3.0
                                  (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Baker W R Nsbb                    (1084.9, 1721.8]  (1903.0, 1916.0]       2.0
                                  (2358.7, 2995.6]  (1916.0, 1929.0]       1.0
Bayou Bend Towers                 (1721.8, 2358.7]  (1968.0, 1981.0]       2.0
                                  (2358.7, 2995.6]  (1968.0, 1981.0]       3.0
Bayou Bend Towers Condo 10        (2358.7, 2995.6]  (1968.0, 1981.0]       3.0
Beachton Villas                   (2358.7, 2995.6]  (2007.0, 2020.0]       4.0
Bercon/Feagan Street              (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Bercons Tyne Street Residence     (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Bingham Court                     (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Birdsall Condo                    (1084.9, 1721.8]  (1994.0, 2007.0]       2.0
Blossom Park Villas               (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Bonner Street Plaza               (1084.9, 1721.8]  (1994.0, 2007.0]       2.0
Bostonian                         (1084.9, 1721.8]  (2007.0, 2020.0]       2.0
Brilliant Summer                  (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Brunner                           (1084.9, 1721.8]  (1903.0, 1916.0]       3.0
                                  (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Brunner Prcl R/P                  (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
...                                                                        ...
Villas/Patterson St               (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Villas/Shepherd                   (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Vistas De Sevilla Amd Pla         (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Vistas De Sevilla Amend           (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Wagner Street Terrace             (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Waldron Dev                       (1721.8, 2358.7]  (1994.0, 2007.0]       3.0
Wanita Triangle Sub               (2995.6, 3632.5]  (1994.0, 2007.0]       4.0
Washington Ave                    (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
                                  (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Washington Brownstone             (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Washington Corridor/Rice Military (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Washington Court                  (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Washington Heights North          (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Washington Place Lofts Condo      (1084.9, 1721.8]  (1994.0, 2007.0]       1.0
Water Hill Homes/Hts              (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Waterford On Woodcrest R P &      (1721.8, 2358.7]  (1994.0, 2007.0]       3.0
Waterhill Homes On Dickson        (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Waterhill Homes/Dickson           (1721.8, 2358.7]  (1994.0, 2007.0]       3.0
                                  (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
Waterhill Homes/Hts               (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Waterhill Homes/Lillian Sec 03    (1721.8, 2358.7]  (1994.0, 2007.0]       3.0
Waugh Drive T/H                   (1721.8, 2358.7]  (1994.0, 2007.0]       2.0
Weber Modern Living               (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Weber Place Amending Plat 1       (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
West End                          (2358.7, 2995.6]  (2007.0, 2020.0]       3.0
West End Villas                   (1721.8, 2358.7]  (2007.0, 2020.0]       3.0
Westcott Place Gardens            (2995.6, 3632.5]  (1994.0, 2007.0]       4.0
Westcott T/H                      (1721.8, 2358.7]  (1981.0, 1994.0]       3.0
Woodcrest Court                   (2358.7, 2995.6]  (1994.0, 2007.0]       3.0
Zenith Villas                     (1721.8, 2358.7]  (2007.0, 2020.0]       3.0

                                                                      List Price
Subdivision                       sqftbins          yearbuilt_bins
1/Gibson Street Villas            (3632.5, 4269.4]  (2007.0, 2020.0]    759000.0
5509 Blossom                      (2358.7, 2995.6]  (1994.0, 2007.0]    431000.0
Affinium Homes/Lillian            (2358.7, 2995.6]  (1994.0, 2007.0]    425000.0
Allan Walter                      (2358.7, 2995.6]  (2007.0, 2020.0]    575000.0
Allegro/Bayou                     (1721.8, 2358.7]  (2007.0, 2020.0]    425000.0
Alys Park                         (2358.7, 2995.6]  (2007.0, 2020.0]    629990.0
Arlington Court                   (4269.4, 4906.3]  (1994.0, 2007.0]   1299000.0
Baker N S                         (2995.6, 3632.5]  (1916.0, 1929.0]    849000.0
Baker NSBB                        (1084.9, 1721.8]  (1929.0, 1942.0]    474900.0
                                  (1721.8, 2358.7]  (1929.0, 1942.0]    569900.0
Baker Nsbb                        (441.631, 1084.9] (1929.0, 1942.0]    327000.0
                                  (1084.9, 1721.8]  (1916.0, 1929.0]    452400.0
                                  (2358.7, 2995.6]  (1994.0, 2007.0]    419000.0
Baker W R Nsbb                    (1084.9, 1721.8]  (1903.0, 1916.0]    599000.0
                                  (2358.7, 2995.6]  (1916.0, 1929.0]    789000.0
Bayou Bend Towers                 (1721.8, 2358.7]  (1968.0, 1981.0]    750000.0
                                  (2358.7, 2995.6]  (1968.0, 1981.0]    719000.0
Bayou Bend Towers Condo 10        (2358.7, 2995.6]  (1968.0, 1981.0]    776999.0
Beachton Villas                   (2358.7, 2995.6]  (2007.0, 2020.0]    449000.0
Bercon/Feagan Street              (2358.7, 2995.6]  (1994.0, 2007.0]    550000.0
Bercons Tyne Street Residence     (1721.8, 2358.7]  (2007.0, 2020.0]    398000.0
Bingham Court                     (2358.7, 2995.6]  (2007.0, 2020.0]    378995.0
Birdsall Condo                    (1084.9, 1721.8]  (1994.0, 2007.0]    300000.0
Blossom Park Villas               (2358.7, 2995.6]  (1994.0, 2007.0]    649000.0
Bonner Street Plaza               (1084.9, 1721.8]  (1994.0, 2007.0]    297000.0
Bostonian                         (1084.9, 1721.8]  (2007.0, 2020.0]    314500.0
Brilliant Summer                  (1721.8, 2358.7]  (2007.0, 2020.0]    469000.0
Brunner                           (1084.9, 1721.8]  (1903.0, 1916.0]    575000.0
                                  (2358.7, 2995.6]  (1994.0, 2007.0]      2900.0
Brunner Prcl R/P                  (2358.7, 2995.6]  (1994.0, 2007.0]    389000.0
...                                                                          ...
Villas/Patterson St               (2358.7, 2995.6]  (2007.0, 2020.0]    459000.0
Villas/Shepherd                   (1721.8, 2358.7]  (2007.0, 2020.0]    389000.0
Vistas De Sevilla Amd Pla         (1721.8, 2358.7]  (2007.0, 2020.0]    445000.0
Vistas De Sevilla Amend           (1721.8, 2358.7]  (2007.0, 2020.0]    448000.0
Wagner Street Terrace             (2358.7, 2995.6]  (2007.0, 2020.0]    600000.0
Waldron Dev                       (1721.8, 2358.7]  (1994.0, 2007.0]    359995.0
Wanita Triangle Sub               (2995.6, 3632.5]  (1994.0, 2007.0]    699999.0
Washington Ave                    (1721.8, 2358.7]  (2007.0, 2020.0]    450000.0
                                  (2358.7, 2995.6]  (2007.0, 2020.0]    530000.0
Washington Brownstone             (2358.7, 2995.6]  (1994.0, 2007.0]    399000.0
Washington Corridor/Rice Military (1721.8, 2358.7]  (2007.0, 2020.0]    437500.0
Washington Court                  (2358.7, 2995.6]  (2007.0, 2020.0]    625000.0
Washington Heights North          (1721.8, 2358.7]  (2007.0, 2020.0]    354400.0
Washington Place Lofts Condo      (1084.9, 1721.8]  (1994.0, 2007.0]    334900.0
Water Hill Homes/Hts              (1721.8, 2358.7]  (2007.0, 2020.0]    395000.0
Waterford On Woodcrest R P &      (1721.8, 2358.7]  (1994.0, 2007.0]    379447.5
Waterhill Homes On Dickson        (2358.7, 2995.6]  (2007.0, 2020.0]    419000.0
Waterhill Homes/Dickson           (1721.8, 2358.7]  (1994.0, 2007.0]    386750.0
                                  (2358.7, 2995.6]  (2007.0, 2020.0]    500400.0
Waterhill Homes/Hts               (1721.8, 2358.7]  (2007.0, 2020.0]    409000.0
Waterhill Homes/Lillian Sec 03    (1721.8, 2358.7]  (1994.0, 2007.0]    435000.0
Waugh Drive T/H                   (1721.8, 2358.7]  (1994.0, 2007.0]    350000.0
Weber Modern Living               (1721.8, 2358.7]  (2007.0, 2020.0]    402250.0
Weber Place Amending Plat 1       (1721.8, 2358.7]  (2007.0, 2020.0]    439900.0
West End                          (2358.7, 2995.6]  (2007.0, 2020.0]    499900.0
West End Villas                   (1721.8, 2358.7]  (2007.0, 2020.0]    429900.0

In [333]:
# NEW DATA~~~~~~Rental properties

In [334]:
#cols= ["Sq Ft Total", "Year Built", "Bedrooms", "Subdivision","List Price"]
rental_df= rental_df[cols].copy()

In [335]:
rental_df.head()

,Sq Ft Total,Year Built,Bedrooms,Subdivision,List Price
0,450.0,1930.0,1.0,Spencer,895.0
1,515.0,2018.0,1.0,Washington Corridor/ Rice Military,1076.0
2,664.0,2000.0,1.0,Memorial Park/Washington Ave,1360.0
3,664.0,2000.0,1.0,Memorial Park/Washington Ave,1360.0
4,664.0,2000.0,1.0,Memorial Park/Washington Ave,1360.0

In [336]:
rental_df.dropna(inplace=True)

In [337]:
rental_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 0 to 947
Data columns (total 5 columns):
Sq Ft Total    413 non-null float64
Year Built     413 non-null float64
Bedrooms       413 non-null float64
Subdivision    413 non-null object
List Price     413 non-null float64
dtypes: float64(4), object(1)
memory usage: 19.4+ KB

In [338]:
rental_df["Year Built"].astype(int)

0      1930
1      2018
2      2000
3      2000
4      2000
5      1930
6      1920
7      2010
8      2003
9      2003
15     1932
16     2003
17     2015
20     2019
21     1920
22     1950
23     2015
24     2005
25     2015
28     2004
29     2015
32     1955
33     2019
34     2006
35     1920
36     2000
37     2006
42     1927
44     2019
45     1955
       ...
909    2006
910    1940
911    2005
912    2016
915    1945
916    2016
917    2006
918    2006
919    2016
922    2006
923    2006
924    2008
925    2016
927    2006
928    2003
929    2014
930    2004
931    2015
934    2008
935    2015
936    2012
938    2014
939    2016
940    2012
941    2016
942    2011
943    2016
945    2014
946    2019
947    2019
Name: Year Built, Length: 413, dtype: int32

In [339]:
rental_df["Year Built"] = rental_df["Year Built"].astype(int)

In [340]:
rental_df.head()

,Sq Ft Total,Year Built,Bedrooms,Subdivision,List Price
0,450.0,1930,1.0,Spencer,895.0
1,515.0,2018,1.0,Washington Corridor/ Rice Military,1076.0
2,664.0,2000,1.0,Memorial Park/Washington Ave,1360.0
3,664.0,2000,1.0,Memorial Park/Washington Ave,1360.0
4,664.0,2000,1.0,Memorial Park/Washington Ave,1360.0

In [341]:
rental_df["sqftbins"]=pd.cut(rental_df["Sq Ft Total"], bins=10)

In [342]:
rental_df["yearbuilt_bins"]=pd.cut(rental_df["Year Built"], bins=10)

In [343]:
rental_df.head()

,Sq Ft Total,Year Built,Bedrooms,Subdivision,List Price,sqftbins,yearbuilt_bins
0,450.0,1930,1.0,Spencer,895.0,"(432.414, 2208.6]","(1929.6, 1944.5]"
1,515.0,2018,1.0,Washington Corridor/ Rice Military,1076.0,"(432.414, 2208.6]","(2004.1, 2019.0]"
2,664.0,2000,1.0,Memorial Park/Washington Ave,1360.0,"(432.414, 2208.6]","(1989.2, 2004.1]"
3,664.0,2000,1.0,Memorial Park/Washington Ave,1360.0,"(432.414, 2208.6]","(1989.2, 2004.1]"
4,664.0,2000,1.0,Memorial Park/Washington Ave,1360.0,"(432.414, 2208.6]","(1989.2, 2004.1]"

In [344]:
rental_df.groupby(["Subdivision","sqftbins","yearbuilt_bins"]).mean().dropna()

                                                                         Sq Ft Total  \
Subdivision                        sqftbins           yearbuilt_bins
01/Bercon/Radcliffe Street         (432.414, 2208.6]  (2004.1, 2019.0]   2066.000000
03 O 06                            (2208.6, 3967.2]   (2004.1, 2019.0]   2489.000000
ABST 642 J REINERMAN               (2208.6, 3967.2]   (1989.2, 2004.1]   2468.000000
Adam Clay Sec 02                   (432.414, 2208.6]  (1914.7, 1929.6]    860.000000
Alamo Heights                      (2208.6, 3967.2]   (2004.1, 2019.0]   2451.000000
Allen Trace                        (2208.6, 3967.2]   (2004.1, 2019.0]   2410.000000
Allston Houston Heights Rep 2      (432.414, 2208.6]  (2004.1, 2019.0]   2156.000000
Arabell Gardens                    (2208.6, 3967.2]   (2004.1, 2019.0]   2374.000000
Astral Homes On Reinerman          (2208.6, 3967.2]   (1989.2, 2004.1]   2520.000000
BIRDSALL PLACE II                  (2208.6, 3967.2]   (1989.2, 2004.1]   2560.000000
Baker NSBB                         (432.414, 2208.6]  (1929.6, 1944.5]   1336.000000
Baker Nsbb                         (432.414, 2208.6]  (1929.6, 1944.5]   1058.333333
                                                      (1989.2, 2004.1]   1888.000000
Baker Nsbb Blks 263-273            (432.414, 2208.6]  (1944.5, 1959.4]   1712.000000
Baker W R Nsbb                     (432.414, 2208.6]  (1884.9, 1899.8]   1246.000000
                                                      (1899.8, 1914.7]   1656.000000
                                                      (1929.6, 1944.5]   1750.000000
                                   (16277.4, 18036.0] (1929.6, 1944.5]  16500.000000
Bayou On Bend                      (432.414, 2208.6]  (2004.1, 2019.0]   1143.034483
Bella Vista Gardens                (2208.6, 3967.2]   (1989.2, 2004.1]   3779.000000
Bercon/Feagan Street               (2208.6, 3967.2]   (2004.1, 2019.0]   2398.000000
Bercons N Memorial Way Ests        (2208.6, 3967.2]   (2004.1, 2019.0]   2330.000000
Bercons Residences/Schuler 0 S     (432.414, 2208.6]  (2004.1, 2019.0]   2163.000000
Bonner Street Plaza                (432.414, 2208.6]  (2004.1, 2019.0]   1314.000000
Bostonian Reserve                  (432.414, 2208.6]  (2004.1, 2019.0]   1555.000000
Brilliant Summer                   (2208.6, 3967.2]   (2004.1, 2019.0]   2300.000000
Brunner                            (432.414, 2208.6]  (1914.7, 1929.6]    644.000000
                                                      (1929.6, 1944.5]   1394.000000
                                                      (1959.4, 1974.3]    650.000000
                                   (2208.6, 3967.2]   (1989.2, 2004.1]   2412.000000
...                                                                              ...
Trails/Saxxon Sub                  (432.414, 2208.6]  (2004.1, 2019.0]   1796.000000
UPPER WEST END                     (432.414, 2208.6]  (2004.1, 2019.0]   1418.000000
Upper West End Sec 03              (432.414, 2208.6]  (1989.2, 2004.1]   1682.000000
Upper West End Sec 12              (432.414, 2208.6]  (2004.1, 2019.0]   1418.000000
Upper West End Sec 13              (432.414, 2208.6]  (2004.1, 2019.0]   1418.000000
Usener                             (432.414, 2208.6]  (1914.7, 1929.6]    912.000000
Views/Crockett                     (2208.6, 3967.2]   (2004.1, 2019.0]   2472.000000
Villas Rose Street                 (2208.6, 3967.2]   (1989.2, 2004.1]   2344.000000
Villas at Schuler St               (2208.6, 3967.2]   (2004.1, 2019.0]   2232.000000
Villas/Bayou Bend                  (2208.6, 3967.2]   (1989.2, 2004.1]   2452.000000
Villas/Feagan                      (2208.6, 3967.2]   (1989.2, 2004.1]   2750.000000
Villas/Hts                         (2208.6, 3967.2]   (2004.1, 2019.0]   2322.000000
Villas/Pk Trls 01 Amd Pla          (432.414, 2208.6]  (2004.1, 2019.0]   2150.000000
Vistas De Sevilla Amd Pla          (2208.6, 3967.2]   (2004.1, 2019.0]   2317.000000
WALDRON DEVELOPMENT                (2208.6, 3967.2]   (2004.1, 2019.0]   2218.000000
Washington Corridor/ Rice Military (432.414, 2208.6]  (2004.1, 2019.0]    837.000000
Washington Square                  (432.414, 2208.6]  (1989.2, 2004.1]   1700.000000
Washington/Colorado Twnhs          (432.414, 2208.6]  (1989.2, 2004.1]   2088.000000
Waterhill Homes On Dickson         (2208.6, 3967.2]   (2004.1, 2019.0]   2679.000000
Waterhill Homes/Blossom Sec 02     (2208.6, 3967.2]   (2004.1, 2019.0]   2478.000000
Waterhill Homes/Dickson            (432.414, 2208.6]  (2004.1, 2019.0]   2132.000000
West 08 Street T H                 (432.414, 2208.6]  (1989.2, 2004.1]   1251.000000
West End Terrace                   (2208.6, 3967.2]   (2004.1, 2019.0]   2581.000000
Woodcrest                          (432.414, 2208.6]  (2004.1, 2019.0]   2165.000000
Woodcrest Add                      (2208.6, 3967.2]   (2004.1, 2019.0]   2763.000000
Woodcrest Anx                      (432.414, 2208.6]  (1914.7, 1929.6]    994.000000
Wr Baker Add                       (432.414, 2208.6]  (2004.1, 2019.0]    900.000000
Zaner Bingham                      (2208.6, 3967.2]   (2004.1, 2019.0]   2547.000000
Zenith Terrace                     (2208.6, 3967.2]   (2004.1, 2019.0]   2400.000000
upper west end                     (432.414, 2208.6]  (1989.2, 2004.1]   1748.000000

                                                                         Year Built  \
Subdivision                        sqftbins           yearbuilt_bins
01/Bercon/Radcliffe Street         (432.414, 2208.6]  (2004.1, 2019.0]  2007.000000
03 O 06                            (2208.6, 3967.2]   (2004.1, 2019.0]  2008.000000
ABST 642 J REINERMAN               (2208.6, 3967.2]   (1989.2, 2004.1]  1999.000000
Adam Clay Sec 02                   (432.414, 2208.6]  (1914.7, 1929.6]  1927.000000
Alamo Heights                      (2208.6, 3967.2]   (2004.1, 2019.0]  2017.000000
Allen Trace                        (2208.6, 3967.2]   (2004.1, 2019.0]  2014.000000
Allston Houston Heights Rep 2      (432.414, 2208.6]  (2004.1, 2019.0]  2015.000000
Arabell Gardens                    (2208.6, 3967.2]   (2004.1, 2019.0]  2006.000000
Astral Homes On Reinerman          (2208.6, 3967.2]   (1989.2, 2004.1]  2003.000000
BIRDSALL PLACE II                  (2208.6, 3967.2]   (1989.2, 2004.1]  2004.000000
Baker NSBB                         (432.414, 2208.6]  (1929.6, 1944.5]  1930.666667
Baker Nsbb                         (432.414, 2208.6]  (1929.6, 1944.5]  1930.666667
                                                      (1989.2, 2004.1]  2004.000000
Baker Nsbb Blks 263-273            (432.414, 2208.6]  (1944.5, 1959.4]  1945.000000
Baker W R Nsbb                     (432.414, 2208.6]  (1884.9, 1899.8]  1885.000000
                                                      (1899.8, 1914.7]  1905.000000
                                                      (1929.6, 1944.5]  1930.000000
                                   (16277.4, 18036.0] (1929.6, 1944.5]  1930.000000
Bayou On Bend                      (432.414, 2208.6]  (2004.1, 2019.0]  2006.000000
Bella Vista Gardens                (2208.6, 3967.2]   (1989.2, 2004.1]  2002.000000
Bercon/Feagan Street               (2208.6, 3967.2]   (2004.1, 2019.0]  2007.000000
Bercons N Memorial Way Ests        (2208.6, 3967.2]   (2004.1, 2019.0]  2013.000000
Bercons Residences/Schuler 0 S     (432.414, 2208.6]  (2004.1, 2019.0]  2010.000000
Bonner Street Plaza                (432.414, 2208.6]  (2004.1, 2019.0]  2005.000000
Bostonian Reserve                  (432.414, 2208.6]  (2004.1, 2019.0]  2008.000000
Brilliant Summer                   (2208.6, 3967.2]   (2004.1, 2019.0]  2019.000000
Brunner                            (432.414, 2208.6]  (1914.7, 1929.6]  1923.000000
                                                      (1929.6, 1944.5]  1930.000000
                                                      (1959.4, 1974.3]  1960.000000
                                   (2208.6, 3967.2]   (1989.2, 2004.1]  1998.000000
...                                                                             ...
Trails/Saxxon Sub                  (432.414, 2208.6]  (2004.1, 2019.0]  2013.000000
UPPER WEST END                     (432.414, 2208.6]  (2004.1, 2019.0]  2005.000000
Upper West End Sec 03              (432.414, 2208.6]  (1989.2, 2004.1]  2004.000000
Upper West End Sec 12              (432.414, 2208.6]  (2004.1, 2019.0]  2005.000000
Upper West End Sec 13              (432.414, 2208.6]  (2004.1, 2019.0]  2005.000000
Usener                             (432.414, 2208.6]  (1914.7, 1929.6]  1920.000000
Views/Crockett                     (2208.6, 3967.2]   (2004.1, 2019.0]  2007.000000
Villas Rose Street                 (2208.6, 3967.2]   (1989.2, 2004.1]  2003.000000
Villas at Schuler St               (2208.6, 3967.2]   (2004.1, 2019.0]  2013.000000
Villas/Bayou Bend                  (2208.6, 3967.2]   (1989.2, 2004.1]  2000.000000
Villas/Feagan                      (2208.6, 3967.2]   (1989.2, 2004.1]  2004.000000
Villas/Hts                         (2208.6, 3967.2]   (2004.1, 2019.0]  2007.000000
Villas/Pk Trls 01 Amd Pla          (432.414, 2208.6]  (2004.1, 2019.0]  2009.000000
Vistas De Sevilla Amd Pla          (2208.6, 3967.2]   (2004.1, 2019.0]  2016.000000
WALDRON DEVELOPMENT                (2208.6, 3967.2]   (2004.1, 2019.0]  2007.000000
Washington Corridor/ Rice Military (432.414, 2208.6]  (2004.1, 2019.0]  2018.000000
Washington Square                  (432.414, 2208.6]  (1989.2, 2004.1]  2004.000000
Washington/Colorado Twnhs          (432.414, 2208.6]  (1989.2, 2004.1]  1999.000000
Waterhill Homes On Dickson         (2208.6, 3967.2]   (2004.1, 2019.0]  2010.000000
Waterhill Homes/Blossom Sec 02     (2208.6, 3967.2]   (2004.1, 2019.0]  2005.000000
Waterhill Homes/Dickson            (432.414, 2208.6]  (2004.1, 2019.0]  2006.000000
West 08 Street T H                 (432.414, 2208.6]  (1989.2, 2004.1]  2003.000000
West End Terrace                   (2208.6, 3967.2]   (2004.1, 2019.0]  2008.000000
Woodcrest                          (432.414, 2208.6]  (2004.1, 2019.0]  2012.000000
Woodcrest Add                      (2208.6, 3967.2]   (2004.1, 2019.0]  2007.000000
Woodcrest Anx                      (432.414, 2208.6]  (1914.7, 1929.6]  1920.000000
Wr Baker Add                       (432.414, 2208.6]  (2004.1, 2019.0]  2019.000000
Zaner Bingham                      (2208.6, 3967.2]   (2004.1, 2019.0]  2014.000000
Zenith Terrace                     (2208.6, 3967.2]   (2004.1, 2019.0]  2008.000000
upper west end                     (432.414, 2208.6]  (1989.2, 2004.1]  2004.000000

                                                                        Bedrooms  \
Subdivision                        sqftbins           yearbuilt_bins
01/Bercon/Radcliffe Street         (432.414, 2208.6]  (2004.1, 2019.0]  3.000000
03 O 06                            (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
ABST 642 J REINERMAN               (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
Adam Clay Sec 02                   (432.414, 2208.6]  (1914.7, 1929.6]  2.000000
Alamo Heights                      (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Allen Trace                        (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Allston Houston Heights Rep 2      (432.414, 2208.6]  (2004.1, 2019.0]  3.000000
Arabell Gardens                    (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Astral Homes On Reinerman          (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
BIRDSALL PLACE II                  (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
Baker NSBB                         (432.414, 2208.6]  (1929.6, 1944.5]  2.000000
Baker Nsbb                         (432.414, 2208.6]  (1929.6, 1944.5]  2.000000
                                                      (1989.2, 2004.1]  3.000000
Baker Nsbb Blks 263-273            (432.414, 2208.6]  (1944.5, 1959.4]  3.000000
Baker W R Nsbb                     (432.414, 2208.6]  (1884.9, 1899.8]  2.000000
                                                      (1899.8, 1914.7]  3.000000
                                                      (1929.6, 1944.5]  2.000000
                                   (16277.4, 18036.0] (1929.6, 1944.5]  2.000000
Bayou On Bend                      (432.414, 2208.6]  (2004.1, 2019.0]  1.655172
Bella Vista Gardens                (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
Bercon/Feagan Street               (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Bercons N Memorial Way Ests        (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Bercons Residences/Schuler 0 S     (432.414, 2208.6]  (2004.1, 2019.0]  3.000000
Bonner Street Plaza                (432.414, 2208.6]  (2004.1, 2019.0]  2.000000
Bostonian Reserve                  (432.414, 2208.6]  (2004.1, 2019.0]  1.000000
Brilliant Summer                   (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Brunner                            (432.414, 2208.6]  (1914.7, 1929.6]  2.000000
                                                      (1929.6, 1944.5]  2.000000
                                                      (1959.4, 1974.3]  1.000000
                                   (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
...                                                                          ...
Trails/Saxxon Sub                  (432.414, 2208.6]  (2004.1, 2019.0]  3.000000
UPPER WEST END                     (432.414, 2208.6]  (2004.1, 2019.0]  2.000000
Upper West End Sec 03              (432.414, 2208.6]  (1989.2, 2004.1]  3.000000
Upper West End Sec 12              (432.414, 2208.6]  (2004.1, 2019.0]  2.000000
Upper West End Sec 13              (432.414, 2208.6]  (2004.1, 2019.0]  2.000000
Usener                             (432.414, 2208.6]  (1914.7, 1929.6]  2.000000
Views/Crockett                     (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Villas Rose Street                 (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
Villas at Schuler St               (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Villas/Bayou Bend                  (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
Villas/Feagan                      (2208.6, 3967.2]   (1989.2, 2004.1]  3.000000
Villas/Hts                         (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Villas/Pk Trls 01 Amd Pla          (432.414, 2208.6]  (2004.1, 2019.0]  3.000000
Vistas De Sevilla Amd Pla          (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
WALDRON DEVELOPMENT                (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Washington Corridor/ Rice Military (432.414, 2208.6]  (2004.1, 2019.0]  1.500000
Washington Square                  (432.414, 2208.6]  (1989.2, 2004.1]  3.000000
Washington/Colorado Twnhs          (432.414, 2208.6]  (1989.2, 2004.1]  3.000000
Waterhill Homes On Dickson         (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Waterhill Homes/Blossom Sec 02     (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Waterhill Homes/Dickson            (432.414, 2208.6]  (2004.1, 2019.0]  3.000000
West 08 Street T H                 (432.414, 2208.6]  (1989.2, 2004.1]  2.000000
West End Terrace                   (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Woodcrest                          (432.414, 2208.6]  (2004.1, 2019.0]  4.000000
Woodcrest Add                      (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Woodcrest Anx                      (432.414, 2208.6]  (1914.7, 1929.6]  2.000000
Wr Baker Add                       (432.414, 2208.6]  (2004.1, 2019.0]  1.000000
Zaner Bingham                      (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
Zenith Terrace                     (2208.6, 3967.2]   (2004.1, 2019.0]  3.000000
upper west end                     (432.414, 2208.6]  (1989.2, 2004.1]  3.000000

                                                                         List Price
Subdivision                        sqftbins           yearbuilt_bins
01/Bercon/Radcliffe Street         (432.414, 2208.6]  (2004.1, 2019.0]  2795.000000
03 O 06                            (2208.6, 3967.2]   (2004.1, 2019.0]  3000.000000
ABST 642 J REINERMAN               (2208.6, 3967.2]   (1989.2, 2004.1]  2500.000000
Adam Clay Sec 02                   (432.414, 2208.6]  (1914.7, 1929.6]  1900.000000
Alamo Heights                      (2208.6, 3967.2]   (2004.1, 2019.0]  3400.000000
Allen Trace                        (2208.6, 3967.2]   (2004.1, 2019.0]  2660.000000
Allston Houston Heights Rep 2      (432.414, 2208.6]  (2004.1, 2019.0]  2995.000000
Arabell Gardens                    (2208.6, 3967.2]   (2004.1, 2019.0]  2300.000000
Astral Homes On Reinerman          (2208.6, 3967.2]   (1989.2, 2004.1]  2700.000000
BIRDSALL PLACE II                  (2208.6, 3967.2]   (1989.2, 2004.1]  2700.000000
Baker NSBB                         (432.414, 2208.6]  (1929.6, 1944.5]  2331.666667
Baker Nsbb                         (432.414, 2208.6]  (1929.6, 1944.5]  1663.000000
                                                      (1989.2, 2004.1]  2400.000000
Baker Nsbb Blks 263-273            (432.414, 2208.6]  (1944.5, 1959.4]  2500.000000
Baker W R Nsbb                     (432.414, 2208.6]  (1884.9, 1899.8]  1850.000000
                                                      (1899.8, 1914.7]  2500.000000
                                                      (1929.6, 1944.5]  2195.000000
                                   (16277.4, 18036.0] (1929.6, 1944.5]  1850.000000
Bayou On Bend                      (432.414, 2208.6]  (2004.1, 2019.0]  1941.206897
Bella Vista Gardens                (2208.6, 3967.2]   (1989.2, 2004.1]  5500.000000
Bercon/Feagan Street               (2208.6, 3967.2]   (2004.1, 2019.0]  3450.000000
Bercons N Memorial Way Ests        (2208.6, 3967.2]   (2004.1, 2019.0]  3400.000000
Bercons Residences/Schuler 0 S     (432.414, 2208.6]  (2004.1, 2019.0]  2900.000000
Bonner Street Plaza                (432.414, 2208.6]  (2004.1, 2019.0]  2097.500000
Bostonian Reserve                  (432.414, 2208.6]  (2004.1, 2019.0]  1500.000000
Brilliant Summer                   (2208.6, 3967.2]   (2004.1, 2019.0]  4000.000000
Brunner                            (432.414, 2208.6]  (1914.7, 1929.6]  1295.000000
                                                      (1929.6, 1944.5]  2500.000000
                                                      (1959.4, 1974.3]   950.000000
                                   (2208.6, 3967.2]   (1989.2, 2004.1]  2900.000000
...                                                                             ...
Trails/Saxxon Sub                  (432.414, 2208.6]  (2004.1, 2019.0]  2650.000000
UPPER WEST END                     (432.414, 2208.6]  (2004.1, 2019.0]  1995.000000
Upper West End Sec 03              (432.414, 2208.6]  (1989.2, 2004.1]  2400.000000
Upper West End Sec 12              (432.414, 2208.6]  (2004.1, 2019.0]  1995.000000
Upper West End Sec 13              (432.414, 2208.6]  (2004.1, 2019.0]  2300.000000
Usener                             (432.414, 2208.6]  (1914.7, 1929.6]  1400.000000
Views/Crockett                     (2208.6, 3967.2]   (2004.1, 2019.0]  2900.000000
Villas Rose Street                 (2208.6, 3967.2]   (1989.2, 2004.1]  4500.000000
Villas at Schuler St               (2208.6, 3967.2]   (2004.1, 2019.0]  2995.000000
Villas/Bayou Bend                  (2208.6, 3967.2]   (1989.2, 2004.1]  3750.000000
Villas/Feagan                      (2208.6, 3967.2]   (1989.2, 2004.1]  3000.000000
Villas/Hts                         (2208.6, 3967.2]   (2004.1, 2019.0]  3000.000000
Villas/Pk Trls 01 Amd Pla          (432.414, 2208.6]  (2004.1, 2019.0]  2950.000000
Vistas De Sevilla Amd Pla          (2208.6, 3967.2]   (2004.1, 2019.0]  3000.000000
WALDRON DEVELOPMENT                (2208.6, 3967.2]   (2004.1, 2019.0]  2900.000000
Washington Corridor/ Rice Military (432.414, 2208.6]  (2004.1, 2019.0]  1519.000000
Washington Square                  (432.414, 2208.6]  (1989.2, 2004.1]  2400.000000
Washington/Colorado Twnhs          (432.414, 2208.6]  (1989.2, 2004.1]  2500.000000