In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
pd.options.display.float_format = '{:,.0f}'.format

In [2]:
df_raw=pd.read_csv("Resources/mls77007_csv.csv",header=1)

In [3]:
df_raw.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,57762389,Rental,Active,4223 1/2,Marina,NaN,Houston,77007,Harris,$895.00,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,$1076.00,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,$1360.00,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,$1360.00,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,$1360.00,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [4]:
df_raw.dropna(axis=1, how="all", inplace=True)

In [5]:
df_raw["List Price"]=df_raw["List Price"].str.replace("$","").astype(float)

In [6]:
df_raw.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,List Office MLSID,List Office Name,List Agent MLSID,List Agent Full Name,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Last Change Timestamp,List Date
0,57762389,Rental,Active,4223 1/2,Marina,NaN,Houston,77007,Harris,895,...,CREG01,Champions Real Estate Group,XIULING,Shirley Ling Lu,NaN,NaN,NaN,NaN,09/14/2019 11:44:37 PM,09/14/2019 12:00:00 AM
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,"1,076",...,FRIS01,ULR Properties,mbmims,Marvin Mims,NaN,NaN,NaN,NaN,09/11/2019 7:11:34 PM,07/16/2019 12:00:00 AM
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,"1,360",...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:19:03 PM,09/06/2019 12:00:00 AM
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,"1,360",...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:12:28 PM,09/06/2019 12:00:00 AM
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,"1,360",...,JPAS01,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,09/06/2019 4:00:52 PM,09/06/2019 12:00:00 AM

In [7]:
df_raw.columns

Index(['MLS Number', 'Property Type', 'Status', 'Street Number', 'Street Name',
       'Unit Number', 'City/Location', 'Zip Code', 'County', 'List Price',
       'Close Price', 'Close Date', 'Area', 'Subdivision', 'Market Area',
       'School District', 'School Elementary', 'School Middle', 'School High',
       'Sq Ft Total', 'Price Sq Ft List', 'Price Sq Ft Sold', 'Lot Size',
       'Acres', 'Price Acre List', 'Price Acre Sales', 'Year Built',
       'Bedrooms', 'Baths Full', 'Baths Half', 'Baths Total', 'Room Count',
       'Fireplaces Number', 'Stories', 'New Construction',
       'New Construction Desc', 'Pool Private', 'No Of Garage Cap', 'Style',
       'DOM', 'CDOM', 'List Office MLSID', 'List Office Name',
       'List Agent MLSID', 'List Agent Full Name', 'Selling Office MLSID',
       'Selling Office Name', 'Selling Agent MLSID', 'Selling Agent Full Name',
       'Last Change Timestamp', 'List Date '],
      dtype='object')

In [8]:
#filter on rental proerties
rental_df = df_raw[df_raw["Property Type"]=="Rental"]
df = df_raw[df_raw["Property Type"]!="Rental"]

In [9]:
df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,List Office MLSID,List Office Name,List Agent MLSID,List Agent Full Name,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Last Change Timestamp,List Date
173,9036863,Lots,Active,0,Nett,NaN,Houston,77007,Harris,"130,000",...,ROPL01,"RealtyOne Plus, LLC",wayneliu,Wayne Liu,NaN,NaN,NaN,NaN,09/14/2019 2:43:28 AM,09/05/2019 12:00:00 AM
174,12732242,Lots,Active,4315,Allen,NaN,Houston,77007,Harris,"140,000",...,INPO01,Red & Company,CharlesBlant,Charles Blanton,NaN,NaN,NaN,NaN,08/03/2019 8:22:59 AM,08/03/2019 12:00:00 AM
175,52672924,Lots,Active,4311,Allen,NaN,Houston,77007,Harris,"140,000",...,INPO01,Red & Company,CharlesBlant,Charles Blanton,NaN,NaN,NaN,NaN,08/03/2019 8:33:03 AM,08/03/2019 12:00:00 AM
176,27003192,Lots,Active,1519,Shearn,NaN,Houston,77007,Harris,"141,000",...,APEL01,Apple Real Property,rch,Ronnie Hardman,NaN,NaN,NaN,NaN,07/10/2019 11:21:15 AM,07/10/2019 12:00:00 AM
177,32105032,Lots,Active,4202,Marina,NaN,Houston,77007,Harris,"180,000",...,KWHM01,Keller Williams Realty,saavedra,Carlos Saavedra,NaN,NaN,NaN,NaN,07/31/2019 2:42:18 PM,07/24/2019 12:00:00 AM

In [10]:
#Cost Assumptions

#Downpayment fixed at 20% for all properties
downpayment = 0.2

#Rent per square foot average taken from the current "for rent" listed properties.
avg_rent_per_sqrft = 1.56

#Vacancy Rate is expressed in percentage.
vacancy_rate = 0.05

#Property Tax for zipcode 77007 expressed in percentage.
property_tax = 0.027

#Property management fee expressed as a percentage of the rental income.
management_cost = 0.08

#Annual Repair and Maintenance Costs expressed as a percentage of the list price.
maintenance_cost = 0.01

#Loan amount expressed as a percentage of the list price
loan_amount = 0.8

#Closing cost expressed as a percentage of the loan amount
closing_cost = 0.0375

#Annual mortgage payment, estimated as a percentage of the loan amount.
mortgage_cost = 0.006*12

#Homeowner Insurance expressed as a percentage of the list price.
insurance_cost = 0.005

#Annual Financial Expenses = Mortgage Cost + Insurance Cost + Vacancy Cost

#Annual Operational Cost = Property Tax + Maintenance Cost + Property Management Cost

In [11]:
df['Downpayment'] = df['List Price'] * downpayment

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
df['Rent from avg'] = df['Sq Ft Total'] * avg_rent_per_sqrft

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
df['Annual Income'] = df['Rent from avg'] * 12

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
df['Vacancy Cost'] = df['Annual Income'] * vacancy_rate

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df['Property Tax'] = df['List Price'] * property_tax

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
df['Property Management Cost'] = df['Annual Income'] * management_cost

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df['Maintenance Cost'] = df['List Price'] * maintenance_cost

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
df['Loan Amount'] = df['List Price'] * loan_amount

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
df['Closing Cost'] = df['Loan Amount'] * closing_cost

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
df['Mortgage Cost'] = df['Loan Amount'] * mortgage_cost

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
df['Insurance Cost'] = df['List Price'] * insurance_cost

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
df['Annual Financial Expenses'] = df['Mortgage Cost'] + df['Insurance Cost'] + df['Vacancy Cost']

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df['Annual Operational Expenses'] = df['Property Tax'] + df['Maintenance Cost'] + df['Property Management Cost']

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
df['Annual Cash Flow'] = df['Annual Income'] - df['Annual Financial Expenses'] - df['Annual Operational Expenses']

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
df['Initial Investment'] = df['Downpayment'] + df['Closing Cost']

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
df['Cap Rates'] = df['Annual Cash Flow']/df['Initial Investment']

/Users/enriqueserizawa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df.tail(100)

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,Maintenance Cost,Loan Amount,Closing Cost,Mortgage Cost,Insurance Cost,Annual Financial Expenses,Annual Operational Expenses,Annual Cash Flow,Initial Investment,Cap Rates
768,23277694,Townhouse/Condo,Sold,4219,Koehler,A,Houston,77007,Harris,"359,995",...,"3,600","287,996","10,800","20,736","1,800","24,612","16,641",268,"82,799",0
769,25924606,Single-Family,Sold,5621B,Kansas,NaN,Houston,77007,Harris,"350,000",...,"3,500","280,000","10,500","20,160","1,750","23,563","15,595","-6,098","80,500",-0
770,28387743,Townhouse/Condo,Sold,5505,Feagan,NaN,Houston,77007,Harris,"359,000",...,"3,590","287,200","10,770","20,678","1,795","24,567","16,633",676,"82,570",0
771,16207748,Single-Family,Sold,1005,Bingham,2,Houston,77007,Harris,"378,995",...,"3,790","303,196","11,370","21,830","1,895","26,056","17,752","2,805","87,169",0
772,16928437,Single-Family,Sold,2504,Cohn,NaN,Houston,77007,Harris,"389,900",...,"3,899","311,920","11,697","22,458","1,950","26,158","17,227","-8,378","89,677",-0
773,24832270,Townhouse/Condo,Sold,1203,Reinerman,C,Houston,77007,Harris,"399,000",...,"3,990","319,200","11,970","22,982","1,995","26,908","17,853","-6,142","91,770",-0
774,94353482,Single-Family,Sold,5307,Petty,NaN,Houston,77007,Harris,"400,000",...,"4,000","320,000","12,000","23,040","2,000","27,197","18,250","-2,316","92,000",-0
775,3525809,Single-Family,Sold,5306,Schuler,A,Houston,77007,Harris,"398,000",...,"3,980","318,400","11,940","22,925","1,990","26,925","17,943","-4,658","91,540",-0
776,29888767,Townhouse/Condo,Sold,710,Heights Hollow,NaN,Houston,77007,Harris,"435,000",...,"4,350","348,000","13,050","25,056","2,175","29,320","19,438","-6,975","100,050",-0
777,86286424,Single-Family,Sold,5419,Kiam,B,Houston,77007,Harris,"435,000",...,"4,350","348,000","13,050","25,056","2,175","29,673","20,002",-835,"100,050",-0
778,29821228,Single-Family,Sold,4212,Dickson,NaN,Houston,77007,Harris,"437,000",...,"4,370","349,600","13,110","25,171","2,185","29,268","19,227","-10,268","100,510",-0
779,70552816,Single-Family,Sold,1243,Bonner St,A,Houston,77007,Harris,"448,000",...,"4,480","358,400","13,440","25,805","2,240","30,214","20,046","-6,885","103,040",-0
780,31672255,Single-Family,Sold,4530,Eli,NaN,Houston,77007,Harris,"439,000",...,"4,390","351,200","13,170","25,286","2,195","29,679","19,759","-5,484","100,970",-0
781,70428528,Townhouse/Condo,Sold,311,2nd,NaN,Houston,77007,Harris,"454,900",...,"4,549","363,920","13,647","26,202","2,274","30,756","20,478","-5,651","104,627",-0
782,8081767,Single-Family,Sold,5837,Darling,NaN,Houston,77007,Harris,"467,000",...,"4,670","373,600","14,010","26,899","2,335","31,545","20,977","-6,302","107,410",-0
783,86934341,Single-Family,Sold,4404,Schuler,B,Houston,77007,Harris,"479,900",...,"4,799","383,920","14,397","27,642","2,400","32,267","21,316","-9,085","110,377",-0
784,11075932,Townhouse/Condo,Sold,4706,Dickson,NaN,Houston,77007,Harris,"465,000",...,"4,650","372,000","13,950","26,784","2,325","31,350","20,790","-7,324","106,950",-0
785,81752929,Single-Family,Sold,5327,Larkin,NaN,Houston,77007,Harris,"539,900",...,"5,399","431,920","16,197","31,098","2,700","36,128","23,705","-13,221","124,177",-0
786,28374125,Single-Family,Sold,4005,Barnes,NaN,Houston,77007,Harris,"554,990",...,"5,550","443,992","16,650","31,967","2,775","36,910","24,003","-17,558","127,648",-0
787,80075401,Single-Family,Sold,1538,Malone,NaN,Houston,77007,Harris,"556,900",...,"5,569","445,520","16,707","32,077","2,784","37,059","24,120","-17,243","128,087",-0
788,71991789,Single-Family,Sold,511,Memorial Heights,NaN,Houston,77007,Harris,"585,000",...,"5,850","468,000","17,550","33,696","2,925","38,946","25,365","-17,811","134,550",-0
789,79816192,Single-Family,Sold,5608,Venice,NaN,Houston,77007,Harris,"709,800",...,"7,098","567,840","21,294","40,884","3,549","47,354","30,935","-19,883","163,254",-0
790,16987562,Single-Family,Sold,4918,Gibson,NaN,Houston,77007,Harris,"798,800",...,"7,988","639,040","23,964","46,011","3,994","53,140","34,571","-25,017","183,724",-0
791,12107995,Single-Family,Sold,605,Rutland,NaN,Houston,77007,Harris,"859,000",...,"8,590","687,200","25,770","49,478","4,295","56,754","36,551","-33,701","197,570",-0
792,49308886,Single-Family,Sold,815,Ashland,NaN,Houston,77007,Harris,"925,000",...,"9,250","740,000","27,750","53,280","4,625","60,811","38,875","-41,561","212,750",-0
793,56904107,Single-Family,Sold,304,Malone,NaN,Houston,77007,Harris,"998,000",...,"9,980","798,400","29,940","57,485","4,990","66,001","42,567","-38,050","229,540",-0
794,51339965,Single-Family,Sold,218,Crestwood,NaN,Houston,77007,Harris,"1,630,000",...,"16,300","1,304,000","48,900","93,888","8,150","105,388","65,670","-104,059","374,900",-0
798,70912746,Mid/Hi-Rise Condo,Withdrawn,1011,Studemont,108,Houston,77007,Harris,"1,650",...,16,"1,320",50,95,8,778,"1,141","11,578",380,31
808,58460489,Single-Family,Withdrawn,1707,Crockett,B,Houston,77007,Harris,"329,000",...,"3,290","263,200","9,870","18,950","1,645","21,966","14,365","-8,925","75,670",-0
809,29600792,Single-Family,Withdrawn,5206,Petty,B,Houston,77007,Harris,"359,900",...,"3,599","287,920","10,797","20,730","1,800","24,460","16,404","-2,263","82,777",-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,66273734,Single-Family,Terminated,748,Nicholson,NaN,Houston,77007,Harris,"409,000",...,"4,090","327,200","12,270","23,558","2,045","27,456","18,097","-8,506","94,070",-0
971,32448791,Single-Family,Terminated,1512,Weber,C,Houston,77007,Harris,"413,900",...,"4,139","331,120","12,417","23,841","2,070","27,829","18,384","-7,837","95,197",-0
972,10712542,Single-Family,Terminated,1512,Weber,F,Houston,77007,Harris,"417,000",...,"4,170","333,600","12,510","24,019","2,085","28,023","18,499","-8,146","95,910",-0
973,93532320,Single-Family,Terminated,748,Nicholson,NaN,Houston,77007,Harris,"419,000",...,"4,190","335,200","12,570","24,134","2,095","28,082","18,467","-9,502","96,370",-0
974,51306161,Single-Family,Terminated,748,Nicholson,NaN,Houston,77007,Harris,"419,900",...,"4,199","335,920","12,597","24,186","2,100","28,138","18,500","-9,591","96,577",-0
975,77319405,Single-Family,Terminated,4609,Nett,A,Houston,77007,Harris,"425,000",...,"4,250","340,000","12,750","24,480","2,125","28,812","19,256","-3,927","97,750",-0
976,97633832,Townhouse/Condo,Terminated,1419,Thompson,NaN,Houston,77007,Harris,"428,500",...,"4,285","342,800","12,855","24,682","2,142","29,438","20,037","2,809","98,555",0
977,18303303,Single-Family,Terminated,5509,Blossom,NaN,Houston,77007,Harris,"431,000",...,"4,310","344,800","12,930","24,826","2,155","29,316","19,684","-2,293","99,130",-0
978,24168189,Single-Family,Terminated,1512,Weber,A,Houston,77007,Harris,"434,900",...,"4,349","347,920","13,047","25,050","2,174","29,144","19,161","-9,929","100,027",-0
979,14516529,Townhouse/Condo,Terminated,6310,Hamman,B,Houston,77007,Harris,"449,000",...,"4,490","359,200","13,470","25,862","2,245","30,362","20,221","-5,486","103,270",-0
980,83542356,Single-Family,Terminated,1615,Alamo,NaN,Houston,77007,Harris,"449,000",...,"4,490","359,200","13,470","25,862","2,245","29,331","18,570","-23,434","103,270",-0
981,14423394,Single-Family,Terminated,5226,Eigel,B,Houston,77007,Harris,"449,900",...,"4,499","359,920","13,497","25,914","2,250","29,993","19,573","-12,986","103,477",-0
982,63833981,Single-Family,Terminated,5210,Lillian,NaN,Houston,77007,Harris,"469,000",...,"4,690","375,200","14,070","27,014","2,345","31,553","20,863","-8,537","107,870",-0
983,44000013,Townhouse/Condo,Terminated,207,Knox,NaN,Houston,77007,Harris,"474,900",...,"4,749","379,920","14,247","27,354","2,374","31,905","21,053","-9,434","109,227",-0
984,28559172,Single-Family,Terminated,5220,Lillian,NaN,Houston,77007,Harris,"475,000",...,"4,750","380,000","14,250","27,360","2,375","32,057","21,291","-6,903","109,250",-0
985,84410880,Townhouse/Condo,Terminated,715,Malone,NaN,Houston,77007,Harris,"479,000",...,"4,790","383,200","14,370","27,590","2,395","32,217","21,293","-8,882","110,170",-0
986,21194722,Single-Family,Terminated,4402,Schuler,B,Houston,77007,Harris,"485,000",...,"4,850","388,000","14,550","27,936","2,425","32,586","21,505","-9,593","111,550",-0
987,5495421,Single-Family,Terminated,5326,Larkin,NaN,Houston,77007,Harris,"489,000",...,"4,890","391,200","14,670","28,166","2,445","33,232","22,286","-3,102","112,470",-0
988,66691107,Townhouse/Condo,Terminated,1116,Thompson,NaN,Houston,77007,Harris,"499,999",...,"5,000","399,999","15,000","28,800","2,500","33,524","22,058","-11,103","115,000",-0
989,53743165,Single-Family,Terminated,2711,Cohn,NaN,Houston,77007,Harris,"500,000",...,"5,000","400,000","15,000","28,800","2,500","33,979","22,786","-3,188","115,000",-0
990,72761328,Townhouse/Condo,Terminated,4228,Center,NaN,Houston,77007,Harris,"509,000",...,"5,090","407,200","15,270","29,318","2,545","34,752","23,455",-437,"117,070",-0
991,97977208,Single-Family,Terminated,1215D,Hickory,NaN,Houston,77007,Harris,"510,000",...,"5,100","408,000","15,300","29,376","2,550","34,653","23,233","-3,354","117,300",-0
992,32454351,Single-Family,Terminated,5229,Nett,NaN,Houston,77007,Harris,"514,900",...,"5,149","411,920","15,447","29,658","2,574","34,472","22,634","-12,327","118,427",-0
993,10283568,Single-Family,Terminated,4402A,Dickson Street,NaN,Houston,77007,Harris,"524,900",...,"5,249","419,920","15,747","30,234","2,624","35,146","23,081","-12,476","120,727",-0
994,7623392,Townhouse/Condo,Terminated,327,2nd,NaN,Houston,77007,Harris,"575,900",...,"5,759","460,720","17,277","33,172","2,880","38,972","25,981","-6,546","132,457",-0
995,88844122,Single-Family,Terminated,2714,Cohn Garden,NaN,Houston,77007,Harris,"589,000",...,"5,890","471,200","17,670","33,926","2,945","40,137","27,018","-1,841","135,470",-0
996,62173139,Single-Family,Terminated,802,Oxford,NaN,Houston,77007,Harris,"650,000",...,"6,500","520,000","19,500","37,440","3,250","42,306","26,636","-36,613","149,500",-0
997,66629994,Single-Family,Terminated,802,Oxford,NaN,Houston,77007,Harris,"650,000",...,"6,500","520,000","19,500","37,440","3,250","42,306","26,636","-36,613","149,500",-0
998,44641781,Single-Family,Terminated,813,Alexander,NaN,Houston,77007,Harris,"709,000",...,"7,090","567,200","21,270","40,838","3,545","46,670","29,892","-30,829","163,070",-0
999,73254809,Single-Family,Terminated,4202,Eigel,NaN,Houston,77007,Harris,"760,000",...,"7,600","608,000","22,800","43,776","3,800","50,755","33,206","-20,387","174,800",-0